
header{
  padding: 30px 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:50px;
}
header:after {
  content: "";
  display: table;
  clear: both;

}
header a{
  color: #6066F2;
  text-decoration: none;
}
header .logo{
  display: inline;
  float: left;
  margin-right: 182px;
}
header .logo img{
width:50px;
position: relative;
right: -160px;
top: -15px;
}
header .menu{
  display: inline-block;
  float: left;
}
header .menu a{
  text-transform:uppercase;
  padding: 0 10px;
  margin: 8px;
}
header .header-buttons{
  display: inline;
  float: right;position: relative;
  top: 20px;
}
header .header-buttons .blue-btn{
background:#6066F2;
padding: 14px 46px;
color: white;
border-radius: 35px;
text-decoration: none;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
}
header .header-buttons .blue-btn .fa-solid{
margin-left:15px;
}
header .header-buttons .orange-btn{
  background:#FEA83B;
  padding: 14px 46px;
  color: white;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  }
